/* 
  Currently all of the styles can be found in this file.
  Please make changes, move things, delete things, play around, etc. 
*/

body {
  margin: auto;
  width: 80%;
}

/* Header Styles */
/* Header Styles */
/* Header Styles */
header {
  margin-bottom: 2.5%;
}
.main-header {
  background-color: #242422;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 1% 4%;
  border-radius: 0 0 25px 25px;
}
.main-header div {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main-header div h1 {
  display: inline;
  font-size: 3.8rem;
  margin-right: 8%;
  color: #90b803;
}
.main-header nav {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nav-btn {
  width: 22%;
  height: 55px;
  text-align: center;
  font-size: 1.2rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: ease-out 1s;
}
.nav-btn:hover {
  font-size: 1.6rem;
  transition: ease-out 0.3s;
}
.login-form {
  margin: auto;
  width: 80%;
  min-height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login-form form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form form label {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* END Header Styles */
/* END Header Styles */

/* Home Page Styles */
/* Home Page Styles */
/* Home Page Styles */

.main-section {
  margin: auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #242422;
}
.graphic-card {
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.graphic-card div {
  width: 50%;
  text-align: center;
}
.graphic-card div p {
  margin: auto;
  width: 80%;
}
.graphic-card:nth-child(even) {
  flex-direction: row-reverse;
}
.graphic-card img {
  width: 50%;
}
.graphic-card div {
  font-size: 1.8rem;
}
.btn-container {
  text-align: center;
  height: 80px;
  width: 100%;
  margin-bottom: 5%;
}
.signup-btn {
  background-color: #242422;
  font-size: 1.6rem;
  font-weight: bolder;
  color: #90b803;
  border: none;
  width: 180px;
  height: 60px;
  cursor: pointer;
  border-radius: 15px;
  transition: ease-out 1s;
}
.signup-btn:hover {
  width: 220px;
  height: 70px;
  font-size: 2.4rem;
  transition: ease-out 0.3s;
}
/* END Home Page Styles */
/* END Home Page Styles */

/* Footer Styles */
/* Footer Styles */
/* Footer Styles */

footer {
  position: relative;
  bottom: 0;
  margin: auto;
  width: 75%;
  height: 75px;
  background-color: #242422;
  color: #90b803;
  text-align: center;
  font-size: 0.8rem;
  padding: 15px 0;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
}

/* END Footer Styles */
/* END Footer Styles */

/* Signup Section Styles */
/* Signup Section Styles */
/* Signup Section Styles */

.signup-section {
  font-size: 2.8rem;
  margin: 5% 0;
  width: 95%;
  min-height: 27.7vw;
  text-align: center;
  overflow: hidden;
}
.signup-section div {
  width: 50%;
  margin: 5% auto 5% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.signup-select-btn {
  font-size: 1.8rem;
  background-color: #242422;
  color: #90b803;
  width: 30%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 25px;
  transition: ease-in 0.4s;
}
.signup-select-btn:hover {
  font-size: 2.3rem;
  text-shadow: 0px 0px 6px #90b803;
  transition: ease-out 0.2s;
}
.signup-instructor-section {
  font-size: 2.8rem;
  margin: 5% 0;
  width: 95%;
  min-height: 27.7vw;
  text-align: center;
  overflow: hidden;
}
.signup-instructor-section div {
  width: 50%;
  margin: 5% auto 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main-instructor-section input {
  margin-bottom: 3px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
}
.main-instructor-section button {
  padding: 10px;
  margin-top: 3px;
  margin-right: 5px;
}
.errors {
  font-size: 1rem;
  color: #cc3300;
  font-weight: bold;
}

/*  */
/*  */
/*  */

.classes-container {
  width: 80%;
  margin: auto;
}

.course-card {
  width: 50%;
  margin: 5%;
  padding: 1% 2.5%;
  background-color: lightgreen;
}
.signup-client-section {
  font-size: 2.8rem;
  margin: 5% 0;
  width: 95%;
  min-height: 27.7vw;
  text-align: center;
  overflow: hidden;
}
.signup-client-section div {
  width: 50%;
  margin: 5% auto 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main-client-section input {
  margin-bottom: 3px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
}
.main-client-section button {
  padding: 10px;
  margin-top: 3px;
  margin-right: 5px;
}
